
/* navbar --------------------------------------------------------------------------------------------------------------- */
.navbar{
  overflow: hidden;
}
.navbar_h1{
  background-color: #212529;
  padding: 0;
  margin: 0;
  text-align: center;
}
.navbar_logo{
  position: absolute;
  z-index: 1000;
  left: 40%;
  color: white !important;
  background-color: #212529;
  font-size: 30px;
  font-weight: bold;
}
.nav-item{
  position: relative;
  width: 196px;
}
.nav-link{
  text-align: center;
}
.dropdown-item{
  font-weight: 600;
}



/* 產品介紹 ------------------------------------ */

.navbar_product{
  background-color: rgb(148, 147, 147);
  margin-left: -20px;
  padding-left: 60px;
  width: 110vw;
}

#navbarDropdown{
  margin-left: 15px;
}
#navbarDropdown2{
  margin-left: 15px;
}

/* 產品介紹 ------------------------------------ */


/* navbar --------------------------------------------------------------------------------------------------------------- */
/* navbar RWD--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:992px){
  .navbar_logo{
  position: static;
  z-index: 1;
  color: white !important;
  background-color: #212529;
  font-size: 30px;
  font-weight: bold;
}
  .navbar{
  overflow:visible;
}
  .nav-item{
  width: 120px;
  position: static;
}
.nav-link:hover::before{
  content: "";
  position: absolute;
  width: 70px;
  height: 30px;
  color: white;
  border-bottom: 3px solid white;
}
.nav-item:nth-child(3) .nav-link:hover::before{
  content: "";
  position: absolute;
  width: 80px;
  height: 30px;
  color: white;
  border-bottom: 3px solid white;
}
.nav-item:nth-child(4) .nav-link:hover::before{
  content: "";
  position: absolute;
  width: 80px;
  height: 30px;
  color: white;
  border-bottom: 3px solid white;
}
.dropdown{
  position: static;
}
  /* 產品介紹------------------- */
.navbar_product{
  width:100vw;
  padding-left: 70px;
  padding-right: 80px;
}
.dropdown-menu[data-bs-popper] {
  margin-left: 0;
  top: 90%;
  left: 0;
}
.navbar_product .row{
  width: 80%;
}
  .dropdown-menu.show {
    display: flex;
    margin-left: 0;
    top: 90%;
    left: 0;
  }

 /* 下拉式選單 hover效果 */
  /* .dropdown:hover .dropdown-menu {
    display: flex;
    margin-left: 0;
    top: 90%;
    left: 0;
  } */
 /* 下拉式選單 hover效果 */

  /* 產品介紹------------------- */

}
@media screen and (min-width:1200px){
  .nav-item{
  width: 196px;
}
.dropdown-item{
  height: 80px;
}
.dropdown-item img{
  height: 80px;
}
}

/* navbar RWD--------------------------------------------------------------------------------------------------------------- */



/* section001----------------------------------------------------------------------------------------------------------------- */
/* section001----------------------------------------------------------------------------------------------------------------- */
/* section001----RWD------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1600px) {
  #section001 .card{
    position: relative;
    top: 0;
  }
  #section001 .card:hover{
    transition: 1s;
    top: -20px;
    color: #136677;
  }
  #section001:hover .card-img-top{
    top: 100px;
  }

  #section001 .card-img-top{
    overflow: hidden;
  }
  #section001 .card:hover img{
    transition: 1s;
    transform: scale(1.5);
  }
}
/* section001-----RWD------------------------------------------------------------------------------------------------------------ */










/* section002----------------------------------------------------------------------------------------------------------------- */
/* section002----------------------------------------------------------------------------------------------------------------- */
/* section002----RWD------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1600px) {
  #section002 .card{
    position: relative;
    top: 0;
  }
  #section002 .card:hover{
    transition: 1s;
    top: -20px;
    color: #136677;
  }
  #section002:hover .card-img-top{
    top: 100px;
  }

  #section002 .card-img-top{
    overflow: hidden;
  }
  #section002 .card:hover img{
    transition: 1s;
    transform: scale(1.5);
  }
}
/* section002-----RWD------------------------------------------------------------------------------------------------------------ */



/* about section003-------------------------------------------------------------------------------------------------------------  */
.section003_border{
  position: relative;
  width: 100%;
}
.section003_img{
  width: 100%;
}
.section003_p{
  padding-left:0px;
}
#section003 button{
  width: 50%;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  background-color: transparent;
  border:5px solid;
}


#section003 button::before{
  transition: 1s;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 0px;
  height: 100%;
  z-index: -1;
background-color: #31d2f2;
transition: 1s;
}
#section003 button:hover::before{
  transition: 1s;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
background-color: #31d2f2;
transition: 1s;
}

/* about section003-------------------------------------------------------------------------------------------------------------  */
/* about section003------RWD-------------------------------------------------------------------------------------------------------  */
@media screen and (min-width:992px) {
  .section003_border{
  position: relative;
  top: 120px;
  height: 250px;
  border: 10px solid rgb(76, 135, 202);
}
.section003_img{
  position: absolute;
  left: 40px;
  bottom: 50px;
}
.section003_p{
  padding-left:50px;
}
}
@media screen and (min-width:1200px) {
  .section003_border{
  position: relative;
  top: 80px;
  height: 300px;
  border: 10px solid rgb(76, 135, 202);
}
.section003_img{
  position: absolute;
  left: 40px;
  bottom: 40px;
}
.section003_p{
  padding-left:50px;
}
}
@media screen and (min-width:1400px) {
  .section003_border{
  position: relative;
  top: 30px;
  left: 80px;
  height: 400px;
  border: 10px solid rgb(76, 135, 202);
}
.section003_border:hover{
  transition: 1s;
  top: 0px;
  left: 0px;
  height: 400px;
  border: 10px solid rgb(76, 135, 202);
}
.section003_img{
  position: absolute;
  height: 400px;
  left: 30px;
  top: -50px;
}
.section003_img:hover{
  transition: 1s;
  position: absolute;
  top: -10px;
  width:100%;
  height: 400px;
  left: 0px;
  transform: scale(1.1);
}
.section003_p{
  padding-left:50px;
}
}
/* about section003------RWD-------------------------------------------------------------------------------------------------------  */




/* section004---------------------------------------------------------------------------------------------------- */
/* hover 圖片發亮 */
#section004 .col-lg-3:hover img{
  box-shadow: 5px 5px 50px 5px white;
  transition: .5s;
  cursor: pointer;
}
/* hover 圖片發亮 */
/* section004---------------------------------------------------------------------------------------------------- */
/* section004---------RWD------------------------------------------------------------------------------------------- */
/* section004---------RWD------------------------------------------------------------------------------------------- */





/* section005---------------------------------------------------------------------------------------------------- */
/* hover 效果 */
.section005_col1{
  padding: 15px;
  background: linear-gradient(rgba(126, 125, 125, 0.2) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%);
}
.section005_col1:hover{
  background: linear-gradient(rgba(126, 125, 125, 0.2) 0%,rgba(126, 125, 125, 0.2) 100%);
  position: relative;
}
.section005_col1 h1{
  z-index: 999;
  color: #fff;
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 170px;
}

.section005_col1:hover img{
  border-radius: 50% !important;
  transition: .5s;
}
.section005_col1 .btn:hover{
  color: #31d2f2 !important;
  background-color: white;
  border:1px solid #31d2f2;
}

.section005_col3 img:hover{
  transform: scale(0.8);
  transition: .5s;
}
/* hover 效果 */
/* section005---------------------------------------------------------------------------------------------------- */
/* section005---------RWD------------------------------------------------------------------------------------------- */
@media screen and (min-width:1600px) {
  .section005_col1:hover h1{
  visibility: visible;
  transition: 1s;
  top: 80px;
  transform: scale(3);
  opacity: 0.5;
}
}
/* section005---------RWD------------------------------------------------------------------------------------------- */


